/*------------------------------------
    Spacing
------------------------------------*/

.mt-spacing {
    margin-top: $space;
}
.mb-spacing {
    margin-bottom: $space;
}

.row-xs {
    margin-left: -6px;
    margin-right: -6px;
    margin-bottom: -12px;
    & > * {
        padding-left: 6px;
        padding-right: 6px;
        margin-bottom: 12px;
    }
}
.row-sm {
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -24px;
    & > * {
        padding-left: 12px;
        padding-right: 12px;
        margin-bottom: 24px;
    }
}
.row-md {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px;
    & > * {
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 30px;
    }
}

.row-0 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

@media (min-width: 1200px) {
    .row-xl-5 {
        & > * {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .row-lg-5 {
        & > * {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 20%;
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
}


.mb-0 {
    margin-bottom: 0;
}
.mb-5 {
    margin-bottom: 5px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-12 {
    margin-bottom: 12px;
}
.mt-15 {
    margin-top: 15px;
}
.mt-30 {
    margin-top: 30px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb--5 {
    margin-bottom: -5px;
}
.mb--10 {
    margin-bottom: -10px;
}
.mb--12 {
    margin-bottom: -12px;
}
.mb--15 {
    margin-bottom: -15px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-60 {
    margin-bottom: 60px;
}
.mb--30 {
    margin-bottom: -30px !important;
}
.mb--45 {
    margin-bottom: -45px;
}
.pl-0 {
    padding-left: 0 !important;
}
.pr-0 {
    padding-right: 0 !important;
}
.pt-15 {
    padding-top: 15px;
}
.pt-30 {
    padding-top: 30px;
}
.pl-15 {
    padding-left: 15px;
}
.pl-30 {
    padding-left: 30px;
}
.pr-15 {
    padding-right: 15px;
}
.pr-30 {
    padding-right: 30px;
}
.pr-45 {
    padding-right: 45px !important;
}
