${require('./_html.html') base="../" href="dashboard"}
    <!--Header-->
    <header class="app-header app-header-1 boxed">
        <div class="container">
            <div class="header-wrap">
                ${require('./_menu.html')}
                <div class="header-links">
                    <a href="dashboard/index.html" class="button button-icon button-icon-md button-line-gray bg-light" title="پنل کاربری"> 
                        <i class="fa fa-user"></i>
                    </a>
                    <a href="sign-in.html" class="button button-md button-primary">
                        <span class="text">درج آگهی رایگان</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!--/-->