${require('./_html.html') base="../" href="dashboard"}
    <!--Header-->
    <header class="app-header app-header-1 boxed">
        <div class="container">
            <div class="header-wrap">
                <button class="button button-menu button-open-sidenav">
                    <span></span>
                </button>
                <div class="header-logo d-block" style="width: 60px; position: relative;top: 16px;margin-left: 45px;">
                    <a href="https://rentkala.co/">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 583.13 583.13">
                            <defs>
                                <style>
                                    .cls-1 {
                                        fill: #DC9263;
                                    }
                                </style>
                            </defs>
                            <g id="Layer_2" data-name="Layer 2">
                                <g id="Layer_1-2" data-name="Layer 1">
                                    <path class="cls-1" d="M407.66,58.13A117.46,117.46,0,0,1,525,175.46V525H175.46A117.46,117.46,0,0,1,58.13,407.66V58.13H407.66m0-58.13H0V407.66A175.47,175.47,0,0,0,175.46,583.13H583.13V175.46A175.47,175.47,0,0,0,407.66,0Z" />
                                    <path class="cls-1" d="M329,210.43l-.23.35L293,262.67,254.82,318a3.82,3.82,0,0,0,0,4.38l69.24,100.47a3.87,3.87,0,0,1-3.2,6.07H260.35a3.86,3.86,0,0,1-3.19-1.68L223,377.77h-.11l-38.5-55.88a3.76,3.76,0,0,0-3.14-1.65H120.42a3.86,3.86,0,0,1-3.19-6l34.43-49.89a3.76,3.76,0,0,1,3.14-1.65h66.25a3.78,3.78,0,0,0,3.14-1.65l30.48-44.21a3.83,3.83,0,0,0-3.15-6H125.83a3.84,3.84,0,0,1-1.65-.35,3.88,3.88,0,0,1-1.54-5.68l34.43-49.89a3.76,3.76,0,0,1,3.14-1.65H298.54C328,153.21,345.4,186.1,329,210.43Z" />
                                    <path class="cls-1" d="M394.72,322.39,464,422.86a3.87,3.87,0,0,1-3.19,6.07H400.24a3.89,3.89,0,0,1-3.19-1.68l-34.11-49.48h-.12l-38.15-55.38a3.89,3.89,0,0,1,0-4.38l38.11-55.34h.12l34.73-50.56a3.88,3.88,0,0,1,3.19-1.68h60.63a3.88,3.88,0,0,1,3.19,6.08l-70,101.5A3.79,3.79,0,0,0,394.72,322.39Z" />
                                </g>
                            </g>
                        </svg>
                    </a>
                </div>
                ${require('./_menu.html')}
                <div class="header-links">
                    <a href="dashboard/index.html" class="button button-icon button-icon-md button-line-gray bg-light" title="پنل کاربری"> 
                        <i class="fa fa-user"></i>
                    </a>
                    <a href="sign-in.html" class="button button-md button-primary">
                        <span class="text">درج آگهی رایگان</span>
                    </a>
                </div>
            </div>
        </div>
    </header>
    <!--/-->
    ${require('../sidenav/_sidenav.html')}