                <div class="header-menu">
                    <ul>
                        <li>
                            <a href="index.html">
                                <span class="text">برگ نخست</span>
                            </a>
                        </li>
                        <li>
                            <a href="search.html">
                                <span class="text">همه آگهی ها</span>
                            </a>
                        </li>
                        <li>
                            <a href="page-faq.html">
                                <span class="text">سوالات متداول</span>
                            </a>
                        </li>
                        <li>
                            <a href="page-how-it-works.html">
                                <span class="text">چطور کار می کند؟</span>
                            </a>
                        </li>
                    </ul>
                </div>