<div class="miro-demo">
    <div class="miro-demo-panel">
        <span class="miro-demo-close">
            <i class="ti-close"></i>
        </span>
        <span class="miro-demo-title">Demo Options</span>
        <span class="miro-demo-subtitle">- Color Schemes</span>
        <ul class="miro-demo-colors">
            <li class="miro-demo-color-1" style="background-color: orange;"></li>
            <li class="miro-demo-color-2" style="background-color: #de5881;"></li>
            <li class="miro-demo-color-3" style="background-color: #0b7554;"></li>
            <li class="miro-demo-color-4" style="background-color: #7b1f29;"></li>
            <li class="miro-demo-color-5" style="background-color: #00b7b8;"></li>
            <li class="miro-demo-color-6" style="background-color: #33b5e5;"></li>
        </ul>
        <ul class="miro-demo-colors">
            <li class="miro-demo-color-7" style="background-color: #1d3268;"></li>
            <li class="miro-demo-color-8" style="background-color: #00897b;"></li>
            <li class="miro-demo-color-9" style="background-color: #ff5e14;"></li>
            <li class="miro-demo-color-10" style="background-color: #fdb415;"></li>
            <li class="miro-demo-color-11" style="background-color: #c89454;"></li>
            <li class="miro-demo-color-12" style="background-color: hotpink;"></li>
        </ul>
        <ul class="miro-demo-colors">
            <li class="miro-demo-color-13" style="background-color: #ac5f33;"></li>
            <li class="miro-demo-color-14" style="background-color: #e79e7e;"></li>
            <li class="miro-demo-color-15" style="background-color: #ffcdb4;"></li>
            <li class="miro-demo-color-16" style="background-color: #e8a384;"></li>
            <li class="miro-demo-color-17" style="background-color: #f9b689;"></li>
            <li class="miro-demo-color-18" style="background-color: #ffcba6;"></li>
        </ul>
        <ul class="miro-demo-colors">
            <li class="miro-demo-color-19" style="background-color: #a45223;"></li>
            <li class="miro-demo-color-20" style="background-color: #d88c75;"></li>
            <li class="miro-demo-color-21" style="background-color: #f7c3b6;"></li>
            <li class="miro-demo-color-22" style="background-color: #dc9263;"></li>
            <li class="miro-demo-color-23" style="background-color: #e9b876;"></li>
            <li class="miro-demo-color-24" style="background-color: #d78150;"></li>
        </ul>
    </div>
    <div class="miro-demo-toggle">
        <i class="ti-settings"></i>
    </div>
</div>

<script>
        $(".miro-demo .miro-demo-close").on("click", function () {
        $(".miro-demo").removeClass("active");
    });
    $(".miro-demo .miro-demo-toggle").on("click", function () {
        $(".miro-demo").toggleClass("active");
    });
    $(".miro-demo-color-1").on("click", function () {
        document.documentElement.style.setProperty("--primary", "orange");
        document.documentElement.style.setProperty("--primary-1", "#ff8800");
    });
    $(".miro-demo-color-2").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#de5881");
        document.documentElement.style.setProperty("--primary-1", "rgb(252, 90, 171)");
    });
    $(".miro-demo-color-3").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#0b7554");
        document.documentElement.style.setProperty("--primary-1", "#339266");
    });
    $(".miro-demo-color-4").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#7b1f29");
        document.documentElement.style.setProperty("--primary-1", "darkred");
    });
    $(".miro-demo-color-5").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#00b7b8");
        document.documentElement.style.setProperty("--primary-1", "#339266");
    });
    $(".miro-demo-color-6").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#33b5e5");
        document.documentElement.style.setProperty("--primary-1", "rgb(158, 221, 241)");
    });
    $(".miro-demo-color-7").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#1d3268");
        document.documentElement.style.setProperty("--primary-1", "#132041");

    });
    $(".miro-demo-color-8").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#00897b");
        document.documentElement.style.setProperty("--primary-1", "#004d40");
    });
    $(".miro-demo-color-9").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#ff5e14");
        document.documentElement.style.setProperty("--primary-1", "#bf360c");
    });
    $(".miro-demo-color-10").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#ffa000");
        document.documentElement.style.setProperty("--primary-1", "#f57c00");
    });
    $(".miro-demo-color-11").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#c89454");
        document.documentElement.style.setProperty("--primary-1", "#a37946");
    });
    $(".miro-demo-color-12").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#ff69b4");
        document.documentElement.style.setProperty("--primary-1", "#eb328e");
    });
    $(".miro-demo-color-13").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#ac5f33");
        document.documentElement.style.setProperty("--primary-1", "");
    });
    $(".miro-demo-color-14").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#e79e7e");
        document.documentElement.style.setProperty("--primary-1", "");
    });
    $(".miro-demo-color-15").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#ffcdb4");
        document.documentElement.style.setProperty("--primary-1", "");
    });
    $(".miro-demo-color-16").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#e8a384");
        document.documentElement.style.setProperty("--primary-1", "");
    });
    $(".miro-demo-color-17").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#f9b689");
        document.documentElement.style.setProperty("--primary-1", "");
    });
    $(".miro-demo-color-18").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#ffcba6");
        document.documentElement.style.setProperty("--primary-1", "");
    });
    $(".miro-demo-color-19").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#a45223");
        document.documentElement.style.setProperty("--primary-1", "");
    });
    $(".miro-demo-color-20").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#d88c75");
        document.documentElement.style.setProperty("--primary-1", "");
    });
    $(".miro-demo-color-21").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#f7c3b6");
        document.documentElement.style.setProperty("--primary-1", "");
    });
    $(".miro-demo-color-22").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#dc9263");
        document.documentElement.style.setProperty("--primary-1", "");
    });
    $(".miro-demo-color-23").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#e9b876");
        document.documentElement.style.setProperty("--primary-1", "");
    });
    $(".miro-demo-color-24").on("click", function () {
        document.documentElement.style.setProperty("--primary", "#d78150");
        document.documentElement.style.setProperty("--primary-1", "");
    });
</script>