    <!--Footer-->
    <footer class="app-footer">
        <figure class="section-shape shape-1">
            <img class="img-fluid" src="assets/images/shapes/1.svg" alt="Image Description">
        </figure>
        <figure class="section-shape shape-2">
            <img class="img-fluid" src="assets/images/shapes/2.svg" alt="Image Description">
        </figure>
        <div class="footer-info">
            <div class="container">
                <div class="el-cta el-cta-4">
                    <h3>ثبت <span class="text-primary">آگهی رایگان!</span> کالاهای که نمی خوای رو اجاره بده.</h3>
                    <p>اولین و معتبرترین پلتفرم اجاره کالا در ایران.</p>
                    <button class="button button-md button-primary">
                        <span class="text">درج آگهی رایگان</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="footer-widgets">
            <div class="container">
                <div class="footer-widgets-links">
                    <div class="row row-xl-5">
                        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                            <div class="widget widget-links">
                                <div class="widget-title">
                                    <h4>راهنمای سایت</h4>
                                </div>
                                <div class="widget-body">
                                    <ul>
                                        <li>
                                            <a href="page-policy.html">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">قوانین سایت</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="page-faq.html">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">سوالات متداول</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 d-none d-xl-block">
                            <div class="widget widget-links">
                                <div class="widget-title">
                                    <h4>دسترسی سریع</h4>
                                </div>
                                <div class="widget-body">
                                    <ul>
                                        <li>
                                            <a href="search">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">همه آگهی ها</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="search">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">ثبت نام در سایت</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                            <div class="widget widget-links">
                                <div class="widget-title">
                                    <h4>ارتباط با ما</h4>
                                </div>
                                <div class="widget-body">
                                    <ul>
                                        <li>
                                            <a href="about-us">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">درباره ما</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="page-contact">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">تماس با ما</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                            <div class="widget widget-links">
                                <div class="widget-title">
                                    <h4>ما را دنبال کنید</h4>
                                </div>
                                <div class="widget-body">
                                    <ul>
                                        <li>
                                            <a href="https://www.instagram.com/rentkala/" target="_blank">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">اینستاگرام رنت کالا</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://t.me/rentkala" target="_blank">
                                                <span class="icon ti-angle-left"></span>
                                                <span class="text">کانال تلگرام رنت کالا</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                            <div class="widget widget-enamad">
                                <div class="widget-body">
                                    <a target="_blank" rel="origin" href="https://trustseal.enamad.ir/?id=189008&amp;Code=aKGAqNi5bVhlqO1hH03i"><img src="https://Trustseal.eNamad.ir/logo.aspx?id=189008&amp;Code=aKGAqNi5bVhlqO1hH03i" alt="" style="cursor:pointer" id="aKGAqNi5bVhlqO1hH03i"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>کلیه حقوق این سایت به شرکت توکان اداک لیان جنوب متعلق است.</p>
        </div>
    </footer>
    <!--/-->
${require('./_html.html') src="custom"}