    <!--Scripts-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/plugins.min.js"></script>
    <script src="assets/js/main-scripts.js"></script>
    <script src="assets/js/${props.src}.js"></script>
    <!--/-->
    <div class="check-user-device">
        <div class="display-center text-center">
            <span>دیوایس شما نا معتبر می باشد. به زودی این مشکل رو حل می کنیم.</span>
        </div>
    </div>
${require('./_modal.html')}
${require('./_demo.html')}
</body>

</html>