<div data-modal-id="modal-login-form" class="el-modal-overlay">
    <span class="modal-close modal-close-overlay"></span>
    <div class="modal-wrapper">
        <!--Modal-->
        <div class="el-modal modal-sm">
            <div class="modal-tabs">
                <ul class="modal-tabs-head">
                    <li class="active" data-modal-tab-link="modal-content-1">
                        <span class="text">ورود به سایت</span>
                    </li>
                    <li data-modal-tab-link="modal-content-2">
                        <span class="text">ثبت نام در سایت</span>
                    </li>
                </ul>
                <ul class="modal-tabs-body">
                    <li class="active" data-modal-tab-content="modal-content-1">
                        <form action="" class="form-3">
                            <div class="row row-xs">
                                <div class="col-12">
                                    <div class="form-item">
                                        <label class="form-label">پست الکترونیک</label>
                                        <input type="email" name="email" class="text-left">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-item">
                                        <label class="form-label">رمز ورود به سایت</label>
                                        <input type="password" name="password" class="text-left">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-item form-input-q">
                                        <div class="row">
                                            <div class="col">
                                                <div class="input-checkbox">
                                                    <label class="checkbox-wrap" for="input-remember">
                                                        <span class="checkbox-label">مرا به خاطر بسپار</span>
                                                        <input type="checkbox" name="remember" id="input-remember">
                                                        <span class="checkbox-mark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col text-left">
                                                <a href="forget-password.html" class="input-fp">رمزم را فراموش کرده ام</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-item">
                                <button class="button button-md button-block button-secondary" type="submit">
                                    <span class="texr">ورود به سایت</span>
                                </button>
                            </div>
                        </form>
                    </li>
                    <li data-modal-tab-content="modal-content-2">
                        <form action="" class="form-3">
                            <div class="row row-xs">
                                <div class="col-12">
                                    <div class="form-item">
                                        <label class="form-label">نام و نام خانوادگی</label>
                                        <input type="text" name="name" class="text-left">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-item">
                                        <label class="form-label">پست الکترونیک</label>
                                        <input type="email" name="email" class="text-left">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-item">
                                        <label class="form-label">رمز ورود به سایت</label>
                                        <input type="password" name="password" class="text-left">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-item form-input-q">
                                        <div class="row">
                                            <div class="col">
                                                <div class="input-checkbox">
                                                    <label class="checkbox-wrap" for="input-remember">
                                                        <span class="checkbox-label">کلیه <a href="page-policy.html" target="_blank" class="text-primary">قوانین و مقررات</a> را میپذیرم.</span>
                                                        <input type="checkbox" name="remember" id="input-remember">
                                                        <span class="checkbox-mark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-item">
                                <button class="button button-md button-block button-secondary" type="submit">
                                    <span class="texr">ثبت نام در سایت</span>
                                </button>
                            </div>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <!--/-->
    </div>
</div>
<div data-modal-id="modal-sm" class="el-modal-overlay">
    <span class="modal-close modal-close-overlay"></span>
    <div class="modal-wrapper">
        <!--Modal-->
        <div class="el-modal modal-sm">
            <div class="modal-head">
                <button class="button modal-close modal-close-modal" type="button">
                    <i class="fa fa-times"></i>
                </button>
                <h3 class="modal-title">عنوان را وارد کنید</h3>
            </div>
            <div class="modal-body">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
            </div>
            <div class="modal-footer">
                <button class="button button-sm button-primary" type="button">
                    <span>ثبت اطلاعات</span>
                </button>
            </div>
        </div>
        <!--/-->
    </div>
</div>
<div data-modal-id="modal-md" class="el-modal-overlay">
    <span class="modal-close modal-close-overlay"></span>
    <div class="modal-wrapper">
        <!--Modal-->
        <div class="el-modal modal-md">
            <div class="modal-head">
                <button class="button modal-close modal-close-modal" type="button">
                    <i class="fa fa-times"></i>
                </button>
                <h3 class="modal-title">عنوان را وارد کنید</h3>
            </div>
            <div class="modal-body">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
            </div>
            <div class="modal-footer">
                <button class="button button-sm button-primary" type="button">
                    <span>ثبت اطلاعات</span>
                </button>
            </div>
        </div>
        <!--/-->
    </div>
</div>
<div data-modal-id="modal-lg" class="el-modal-overlay">
    <span class="modal-close modal-close-overlay"></span>
    <div class="modal-wrapper">
        <!--Modal-->
        <div class="el-modal modal-lg">
            <div class="modal-head">
                <button class="button modal-close modal-close-modal" type="button">
                    <i class="fa fa-times"></i>
                </button>
                <h3 class="modal-title">عنوان را وارد کنید</h3>
            </div>
            <div class="modal-body">
                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
            </div>
            <div class="modal-footer">
                <button class="button button-sm button-primary" type="button">
                    <span>ثبت اطلاعات</span>
                </button>
            </div>
        </div>
        <!--/-->
    </div>
</div>
<div data-modal-id="modal-select-classroom" class="el-modal-overlay">
    <span class="modal-close modal-close-overlay"></span>
    <span class="modal-close modal-close-xx">
        <i class="fa fa-times"></i>
    </span>
    <!--Modal-->
    <div class="el-modal modal-xx">
        <div class="display-spacing">
            <div class="container">
                <div class="max-w-768 div-center">
                    <header class="el-heading side mb-15" style="margin-bottom: 15px !important;">
                        <h2>قوانین و مقررات</h2>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                        <div class="divider divider-line"></div>
                    </header>
                    <div>
                        <h5>تعداد جلسات: <span class="text-primary"><span id="selectedClassroomCount"></span> جلسه</span></h5>
                        <h5>میزان تخفیف: <span class="text-primary"><span id="user_plan"></span>٪ تخفیف</span></h5>
                        <h5>مبلغ کل: <span class="text-primary"><span id="total_price"></span> تومان</span></h5>
                        <h5>مبلغ کم شده: <span class="text-primary"><span id="discount_price"></span> تومان</span></h5>
                        <h5>مبلغ کل پرداختی: <span class="text-primary"><span id="final_price"></span> تومان</span></h5>
                    </div>
                    <hr>
                    <button class="button button-md button-block button-primary" onclick="document.getElementById('form-calendar-time').submit();">
                        <span class="text">قبول شرایط و پرداخت وجه</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!--/-->
</div>
<div data-modal-id="modal-alert-delete-product" class="el-modal-overlay">
    <span class="modal-close modal-close-overlay"></span>
    <div class="modal-wrapper">
        <!--Modal-->
        <div class="el-modal modal-sm modal-danger">
            <div class="modal-head">
                <button class="button modal-close modal-close-modal" type="button">
                    <i class="fa fa-times"></i>
                </button>
                <h3 class="modal-title">آیا این آگهی حذف شود؟</h3>
            </div>
            <div class="modal-body">
                <p style="color: #eee">توجه: در صورت حذف آگهیِ منتشرشده تا ۲۴ ساعت امکان ارسال مجدد این آگهی را نخواهید داشت.</p>
            </div>
            <div class="modal-footer">
                <button class="button button-sm button-light" type="button">
                    <span>حذف آگهی</span>
                </button>
            </div>
        </div>
        <!--/-->
    </div>
</div>