/*------------------------------------
    Element: Card
------------------------------------*/

.el-card-product {
    overflow: hidden;
    position: relative;
    margin-bottom: 18px;
    box-shadow: $default-bs;
    border-radius: $default-br;
    .image {
        padding-top: 100%;
        margin-bottom: 15px;
        border-bottom: 1px solid $gray;
        img {
            top: 0;
            left: 0;
            position: absolute;
        }
    }
    .footer {
        padding: 0 20px;
        white-space: nowrap;
        .place {
            i {
                top: 1px;
                font-size: 81%;
                position: relative;
                margin-left: 3px;
            }
        }
        .price {
            text-align: left;
            .label {
                margin-left: 6px;
            }
            .value-sign {
                display: none;
            }
        }
    }
    .details {
        padding: 0 20px;
        .name {
            font-size: 16px;
            line-height: 1.7;
        }
    }
}

/*------------------------------------
    Element: Pagination
------------------------------------*/

.el-pagination {
    text-align: center;
    white-space: nowrap;
    padding-top: 75px;
    display: none !important;
    ul {
        direction: ltr;
        list-style: none;
        display: inline-block;
        padding: 12px;
        margin: 0;
        border-radius: 36px;
        border: 1px solid $gray;
        background-color: $black;
        li {
            height: 33px;
            min-width: 33px;
            line-height: 33px;
            color: $base-0;
            cursor: pointer;
            font-size: 0.9em;
            text-align: center;
            user-select: none;
            display: inline-block;
            border-radius: 50%;
            a {
                display: block;
            }
            .fa {
                top: 1px;
                padding-left: 12px;
                position: relative;
                display: inline-block;
            }
            &:hover {
                color: $base-1;
            }
            &.active {
                color: $base-0;
                background-color: $primary;
            }
        }
    }
}

/*------------------------------------
    Element: Search Box
------------------------------------*/

.el-search-box {
    padding: 15px 30px;
    box-shadow: $default-bs;
    border-radius: $default-br;
    background-color: $base-0;
}

/*------------------------------------
    Element: Category
------------------------------------*/

.el-category-icons {
    ul {
        list-style: none;
        padding: 0;
        margin: 0 -6px;
        white-space: nowrap;
        width: 100%;
        max-width: 100%;
        overflow-x: scroll;
        user-select: none;
        &::-webkit-scrollbar {
            height: 3px;
        }
        &::-webkit-scrollbar-track {
            background-color: $gray;
        }
        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
        }
        li {
            width: 90px;
            display: inline-block;
            padding-left: 6px;
            padding-right: 6px;
            margin-bottom: 18px;
            a {
                display: block;
                text-align: center;
                position: relative;
                .text {
                    white-space: nowrap;
                    text-align: center;
                }
                .icon {
                    width: 54px;
                    height: 54px;
                    display: block;
                    line-height: 54px;
                    position: relative;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto 12px;
                    background-color: #ccc;
                    img {
                        width: 27px;
                        height: 27px;
                        z-index: 1;
                        position: relative;
                    }
                    &:before {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        content: "";
                        opacity: .3;
                        border-radius: 50%;
                        position: absolute;
                        transition: all 450ms;
                    }
                }
            }
            &:hover {
                a {
                    color: $primary;
                    .icon {
                        &:before {
                            background: $primary;
                        }
                    }
                }
            }
        }
    }
}

/*------------------------------------
    Element: Call To Action
------------------------------------*/

.el-cta {
    overflow: hidden;
    position: relative;
    p {
        text-align: center;
        margin-bottom: 0;
    }
    h3 {
        color: #32335a;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -1px;
        margin-bottom: 9px;
        .text-color {
            color: $primary;
        }
    }
    .display-center {
        z-index: 3;
        text-align: center;
    }
    .parallax-window {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        position: absolute;
    }
    &:after {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        content: "";
        position: absolute;
        border-radius: 6px;
        background-color: $primary;
        @extend .bg-animation-2;
    }
}

.el-cta-4 {
    padding: 30px 0;
    position: relative;
    p {
        text-align: right;
    }
    .button {
        left: 0;
        bottom: 45px;
        position: absolute;
        .icon {
            top: 2px;
            font-size: 16px;
            font-weight: 400;
            position: relative;
            margin-left: 3px;
        }
    }
}
