/*------------------------------------
    Element: Card
------------------------------------*/

.el-card-product {
    overflow: hidden;
    position: relative;
    margin-bottom: 18px;
    box-shadow: $default-bs;
    border-radius: $default-br;
    .image {
        padding-top: 100%;
        margin-bottom: 15px;
        border-bottom: 1px solid $gray;
        background: no-repeat center center / cover;
        img {
            top: 0;
            left: 0;
            position: absolute;
        }
    }
    .footer {
        padding: 0 20px;
        white-space: nowrap;
        .place {
            i {
                top: 1px;
                font-size: 81%;
                position: relative;
                margin-left: 3px;
            }
        }
        .price {
            text-align: left;
            .label {
                margin-left: 6px;
            }
            .value-sign {
                display: none;
            }
        }
    }
    .details {
        padding: 0 20px;
        .name {
            font-size: 16px;
            line-height: 1.7;
        }
    }
}

/*------------------------------------
    Element: Heading
------------------------------------*/

.el-heading {
    &.el-heading-3 {
        position: relative;
        padding-top: 6px;
        padding-bottom: 15px;
        h2 {
            font-size: 40px;
            font-weight: 500;
            margin-bottom: 15px;
        }
        h3 {
            font-size: 40px;
            font-weight: 300;
            margin-bottom: 15px;
        }
        .button {
            top: 45px;
            left: 0px;
            position: absolute;
        }
    }
}

/*------------------------------------
    Element: Tabs
------------------------------------*/

.el-tabs {
    overflow: hidden;
    position: relative;
    .el-tabs-links {
        ul {
            list-style: none;
            user-select: none;
            border-bottom: 1px solid #ccc;
            padding: 0;
            margin: 0;
            li {
                bottom: -4px;
                height: 60px;
                color: $text-color;
                cursor: pointer;
                display: inline-block;
                font-weight: 700;   
                position: relative;
                padding: 0 30px;
                line-height: 60px;
                border-bottom: 4px solid transparent;
                &.active {
                    color: $primary;
                    cursor: inherit;
                    border-color: $primary;
                }
            }
        }
    }
    .el-tabs-content {
        & > ul {
            list-style: none;
            padding: 0;
            margin: 0;
            & > li {
                padding: 30px;
                padding-top: 45px;
                h2,
                h3,
                h4 {
                    font-size: 24px;
                    margin-bottom: 39px;
                }
                form {
                    padding-left: 15px;
                }
                &:not(.active) {
                    display: none;
                }
            }
        }
    }
}

/*------------------------------------
    Element: Table
------------------------------------*/

.el-table {
    width: 100%;
    display: block;
    font-size: 14px;
    margin: 0;
    tbody {
        width: 100%;
        display: block;
        margin: 0;
        tr {
            width: 100%;
            height: 45px;
            display: block;
            font-size: 12px;
            margin-bottom: 6px;
            td {
                color: #333;
                display: inline-block;
                overflow: hidden;
                line-height: 45px;
                white-space: nowrap;
                &.specname {
                    width: 20%;
                    padding: 0 15px;
                    margin-left: 1%;
                }
                &.specvalue {
                    width: 78%;
                    padding: 0 15px;
                }
            }
            &:nth-child(odd) {
                td {
                    background: #f7f7f7;
                }
            }
        }
    }
}

/*------------------------------------
    Element: Stars
------------------------------------*/

.el-stars {
    direction: ltr;
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        display: inline-block;
        font-size: 12px;
    }
}

/*------------------------------------
    Element: Slider
------------------------------------*/

.el-slider-items {
    position: relative;
    .owl-carousel {
        .owl-item {
            padding: 3px 0;
        }
        .owl-nav {
            .owl-prev,
            .owl-next {
                top: calc(50%);
                width: 45px;
                height: 45px;
                z-index: 15;
                display: block;
                position: absolute;
                border-radius: 50%;
                margin-top: -45px;
                background: $primary;
                i {
                    color: $base-0;
                    font-size: 24px;
                    font-weight: 900;
                    position: relative;
                }
                &.owl-prev {
                    right: -24px;
                    i {
                        right: -1px;
                    }
                }
                &.owl-next {
                    left: -24px;
                    i {
                        left: -1px;
                    }
                }
                &:hover {
                    background-color: $primary-1;
                }
                &.disabled {
                    opacity: 0;
                    cursor: no-drop;
                }
            }
        }
        .owl-dots {
            left: 0;
            right: 0;
            bottom: -45px;
            position: absolute;
            min-height: 40px;
            line-height: 40px;
            text-align: center;
            margin: 0 auto;
            .owl-dot {
                width: 7px;
                height: 7px;
                margin: 0 3px;
                border: 0;
                border-radius: 50%;
                background-color: #ccc;
                &.active {
                    background-color: $primary;
                }
            }
        }
        &:before,
        &:after {
            top: 3px;
            bottom: 18px;
            width: 15%;
            content: "";
            z-index: 12;
            position: absolute;
        }
        &:before {
            left: -3%;
            background: -webkit-linear-gradient(-90deg, transparent, rgba(255, 255, 255, 0.3));
            background: linear-gradient(-90deg, transparent, rgba(255, 255, 255, 0.3));
        }
        &:after {
            right: -3%;
            background: -webkit-linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3));
            background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3));
        }
    }
}

.el-carousel-product {
    position: relative;
    .owl-carousel {
        .owl-item {
            padding: 3px 0;
        }
        .owl-nav {
            .owl-prev,
            .owl-next {
                top: calc(50%);
                width: 45px;
                height: 45px;
                z-index: 15;
                display: block;
                position: absolute;
                border-radius: 50%;
                margin-top: -21px;
                background: rgba(0, 0, 0, 0.3);
                i {
                    color: $base-0;
                    font-size: 24px;
                    font-weight: 900;
                    position: relative;
                }
                &.owl-prev {
                    right: 15px;
                    i {
                        right: -1px;
                    }
                }
                &.owl-next {
                    left: 15px;
                    i {
                        left: -1px;
                    }
                }
                &:hover {
                    background: $primary;
                }
                &.disabled {
                    opacity: 0;
                    cursor: no-drop;
                }
            }
        }
        .owl-dots {
            left: 0;
            right: 0;
            bottom: 6px;
            position: absolute;
            min-height: 40px;
            line-height: 40px;
            text-align: center;
            margin: 0 auto;
            .owl-dot {
                width: 7px;
                height: 7px;
                margin: 0 3px;
                border: 0;
                border-radius: 50%;
                background-color: #ccc;
                &.active {
                    background-color: $primary;
                }
            }
        }
        &:before,
        &:after {
            top: 3px;
            bottom: 18px;
            width: 15%;
            content: "";
            z-index: 12;
            position: absolute;
        }
        &:before {
            left: -3%;
            background: -webkit-linear-gradient(-90deg, transparent, rgba(255, 255, 255, 0.3));
            background: linear-gradient(-90deg, transparent, rgba(255, 255, 255, 0.3));
        }
        &:after {
            right: -3%;
            background: -webkit-linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3));
            background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3));
        }
    }
}

/*------------------------------------
    Element: Comments
------------------------------------*/

.el-comments {
    color: $text-color;
    overflow: hidden;
    position: relative;
    & > ul {
        list-style: none;
        padding: 0;
        margin: 0;
        & > li {
            display: block;
            position: relative;
            margin-bottom: 30px;
            padding-bottom: 15px;
            border-bottom: 1px solid $gray;
            .el-comments-date {
                font-size: 12px;
                white-space: nowrap;
                padding-right: 15px;
            }
            .el-comments-author {
                color: $base-1;
                font-size: 12px;
                white-space: nowrap;
                margin: auto;
            }
            .el-comments-avatar {
                width: 69px;
                height: 69px;
                overflow: hidden;
                position: relative;
                border-radius: 50%;
                margin-bottom: 9px;
            }
            .el-comments-content {
                padding-top: 15px;
                padding-right: 15px;
                p {
                    font-size: 12px;
                }
            }
        }
    }
}

/*------------------------------------
    Element: Pagination
------------------------------------*/

.el-pagination {
    text-align: center;
    white-space: nowrap;
    padding-top: 75px;
    display: none !important;
    ul {
        direction: ltr;
        list-style: none;
        display: inline-block;
        padding: 12px;
        margin: 0;
        border-radius: 36px;
        border: 1px solid $gray;
        background-color: $black;
        li {
            height: 33px;
            min-width: 33px;
            line-height: 33px;
            color: $base-0;
            cursor: pointer;
            font-size: 0.9em;
            text-align: center;
            user-select: none;
            display: inline-block;
            border-radius: 50%;
            a {
                display: block;
            }
            .fa {
                top: 1px;
                padding-left: 12px;
                position: relative;
                display: inline-block;
            }
            &:hover {
                color: $base-1;
            }
            &.active {
                color: $base-0;
                background-color: $primary;
            }
        }
    }
}

/*------------------------------------
    Element: Search Box
------------------------------------*/

.el-search-box {
    padding: 15px 30px;
    box-shadow: $default-bs;
    border-radius: $default-br;
    background-color: $base-0;
}

/*------------------------------------
    Element: Category
------------------------------------*/

.el-category-icons {
    ul {
        width: 100%;
        max-width: 100%;
        list-style: none;
        white-space: nowrap;
        z-index: 15;
        padding: 0;
        position: relative;
        margin: 0 -6px;
        overflow-x: scroll;
        user-select: none;
        &::-webkit-scrollbar {
            height: 60px;
        }
        &::-webkit-scrollbar-thumb {
            height: 60px;
        }
        li {
            width: 90px;
            display: inline-block;
            padding-left: 6px;
            padding-right: 6px;
            margin-bottom: 18px;
            a {
                color: #ccc;
                display: block;
                text-align: center;
                position: relative;
                .text {
                    white-space: nowrap;
                    text-align: center;
                }
                .icon {
                    width: 54px;
                    height: 54px;
                    display: block;
                    line-height: 54px;
                    position: relative;
                    border-radius: 50%;
                    text-align: center;
                    margin: 0 auto 12px;
                    background-color: #f6f6f6;
                    img {
                        width: 27px;
                        height: 27px;
                        z-index: 1;
                        position: relative;
                    }
                    &:before {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        content: "";
                        opacity: 0.3;
                        border-radius: 50%;
                        position: absolute;
                        transition: all 450ms;
                    }
                }
            }
            &:hover {
                a {
                    color: $primary;
                    .icon {
                        &:before {
                            background: $primary;
                        }
                    }
                }
            }
        }
    }
}

/*------------------------------------
    Element: Horizontal Line
------------------------------------*/

.el-hr {
    width: 100%;
    height: 1px;
    display: block;
    position: relative;
    margin-top: 20px;
    margin-bottom: 24px;
    background-color: $gray;
}

/*------------------------------------
    Element: Call To Action
------------------------------------*/

.el-cta {
    overflow: hidden;
    position: relative;
    p {
        text-align: center;
        margin-bottom: 0;
    }
    h3 {
        color: #32335a;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: -1px;
        margin-bottom: 9px;
        .text-color {
            color: $primary;
        }
    }
    .display-center {
        z-index: 3;
        text-align: center;
    }
    .parallax-window {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
        position: absolute;
    }
    &:after {
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        content: "";
        position: absolute;
        border-radius: 6px;
        background-color: $primary;
        @extend .bg-animation-2;
    }
}

.el-cta-4 {
    padding: 30px 0;
    position: relative;
    p {
        text-align: right;
    }
    .button {
        left: 0;
        bottom: 45px;
        position: absolute;
        .icon {
            top: 2px;
            font-size: 16px;
            font-weight: 400;
            position: relative;
            margin-left: 3px;
        }
    }
}
