/*------------------------------------
    Section
------------------------------------*/

.section {
    display: block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    .display-spacing {
        z-index: 9;
    }
    .section-shape {
        z-index: 1;
        &.shape-1 {
            top: -6%;
            left: -1%;
            width: 400px;
            position: absolute;
        }
        &.shape-2 {
            top: -30%;
            right: 0;
            width: 400px;
            opacity: 0.3;
            position: absolute;
        }
        &.shape-3 {
            top: 0;
            left: 0;
            width: 50%;
            position: absolute;
        }
    }
}
/*------------------------------------
    Section: Search Box Banner
------------------------------------*/

.section-search-box {
    height: 540px;
    position: relative;
    background-color: $gray;
    .display-custom {
        padding-top: 114px;
    }
    &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        opacity: 1;
        position: absolute;
        background: -webkit-linear-gradient(0deg, $base-0, transparent);
        background: linear-gradient(0deg, $base-0, transparent);
    }
}

// .items {
//     display: none !important;
// }
// .nav {
//     display: none;
// }
