/*------------------------------------
    Section
------------------------------------*/

.section {
    display: block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    .display-spacing {
        z-index: 9;
    }
    .section-shape {
        z-index: 1;
        &.shape-1 {
            top: -6%;
            left: -1%;
            width: 400px;
            position: absolute;
        }
        &.shape-2 {
            top: -30%;
            right: 0;
            width: 400px;
            opacity: 0.3;
            position: absolute;
        }
        &.shape-3 {
            top: 0;
            left: 0;
            width: 50%;
            position: absolute;
        }
    }
    &.section-wave {
        &.section-wave-1 {
            &:after {
                right: 0;
                bottom: -1px;
                width: 100%;
                height: 20%;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-1.png") bottom center / cover;
            }
        }
        &.section-wave-2 {
            &:after {
                right: 0;
                bottom: -90px;
                width: 100%;
                height: 20%;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-2.png") bottom center / cover;
            }
        }
        &.section-wave-3 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 300px;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-3.png") bottom center / cover;
            }
        }
        &.section-wave-6 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 30px;
                content: "";
                position: absolute;
                background: repeat-x url("../images/shapes/wave-6.png") bottom center / contain;
            }
        }
    }
    &.section-divider {
        &.section-divider-1 {
            border-bottom: 1px solid $gray;
        }
    }
}
/*------------------------------------
    Section: Search Box Banner
------------------------------------*/

.section-search-box {
    height: 540px;
    position: relative;
    background-color: $gray;
    .display-custom {
        padding-top: 114px;
    }
    &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        opacity: 1;
        position: absolute;
        background: -webkit-linear-gradient(0deg, $base-0, transparent);
        background: linear-gradient(0deg, $base-0, transparent);
    }
}

// .items {
//     display: none !important;
// }
// .nav {
//     display: none;
// }
