/*------------------------------------
    Section
------------------------------------*/

.section {
    display: block;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    .display-spacing {
        z-index: 9;
    }
    .section-shape {
        z-index: 1;
        &.shape-1 {
            top: -6%;
            left: -1%;
            width: 400px;
            position: absolute;
        }
        &.shape-2 {
            top: -30%;
            right: 0;
            width: 400px;
            opacity: 0.3;
            position: absolute;
        }
        &.shape-3 {
            top: 0;
            left: 0;
            width: 50%;
            position: absolute;
        }
    }
    &.section-wave {
        &.section-wave-1 {
            &:after {
                right: 0;
                bottom: -1px;
                width: 100%;
                height: 20%;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-1.png") bottom center / cover;
            }
        }
        &.section-wave-2 {
            &:after {
                right: 0;
                bottom: -90px;
                width: 100%;
                height: 20%;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-2.png") bottom center / cover;
            }
        }
        &.section-wave-3 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 300px;
                content: "";
                position: absolute;
                background: no-repeat url("../images/shapes/wave-3.png") bottom center / cover;
            }
        }
        &.section-wave-6 {
            &:after {
                right: 0;
                bottom: 0;
                width: 100%;
                height: 30px;
                content: "";
                position: absolute;
                background: repeat-x url("../images/shapes/wave-6.png") bottom center / contain;
            }
        }
    }
    &.section-divider {
        &.section-divider-1 {
            border-bottom: 1px solid $gray;
        }
    }
}
/*------------------------------------
    Section: Search Box Banner
------------------------------------*/

.section-search-box {
    position: relative;
    padding-top: 45px;
    padding-bottom: 30px;
    background-color: $gray;
    .display-custom {
        padding-top: 114px;
    }
    &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        opacity: 1;
        position: absolute;
        background: -webkit-linear-gradient(0deg, $base-0, transparent);
        background: linear-gradient(0deg, $base-0, transparent);
    }
}

@media (min-width: 992px) {
    .section-search-box {
        padding-bottom: 180px;
    }
}

@media (max-width: 992px) {
    .section-search-box {
        .display-custom {
            padding-top: 30px;
        }
    }
}

/*------------------------------------
    Section: Products
------------------------------------*/

@media (min-width: 992px) {
    .section-products {
        top: -90px;
        position: relative;
    }
}

/*------------------------------------
    Section: Details
------------------------------------*/

.section-product {
    overflow: hidden;
    position: relative;
    &.section-product-1 {
        .product-details {
            position: relative;
            padding-left: 6px;
            margin-bottom: 30px;
            .shareit {
                top: 0;
                right: 0;
                width: 45px;
                z-index: 12;
                position: absolute;
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        width: 36px;
                        height: 36px;
                        color: $base-0;
                        display: block;
                        line-height: 39px;
                        text-align: center;
                        border-radius: 6px;
                        margin-bottom: 6px;
                        a {
                            display: block;
                        }
                    }
                }
            }
            .details {
                position: relative;
                padding-right: 60px;
                margin-bottom: 24px;
                h1 {
                    font-size: 24px;
                    line-height: 1.5;
                    margin-bottom: 15px;
                }
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    li {
                        height: 45px;
                        display: block;
                        line-height: 45px;
                        &:not(:last-child) {
                            border-bottom: 1px solid $gray;
                        }
                        span {
                            width: 50%;
                            display: inline-block;
                            &.var {
                                float: right;
                                font-weight: bold;
                                &:after {
                                    content: ":";
                                    padding-right: 2px;
                                }
                            }
                            &.val {
                                float: left;
                                color: $primary;
                                text-align: left;
                            }
                        }
                    }
                }
            }
        }
        .product-gallery {
            position: relative;
            padding-right: 4px;
            .el-carousel-product {
                .el-carousel-product-item {
                    overflow: hidden;
                    position: relative;
                    padding-top: 100%;
                    border-radius: $default-br;
                    .image {
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                    }
                }
            }
            .icons {
                top: 0;
                width: 50%;
                padding: 9px;
                z-index: 99;
                display: block;
                list-style: none;
                position: absolute;
                &.icons-left {
                    left: 0;
                }
                &.icons-right {
                    right: 0;
                }
                li {
                    height: 30px;
                    overflow: hidden;
                    display: inline-block;
                    padding: 0;
                    margin: 0;
                    .el-icon {
                        color: $base-1;
                        font-size: 10px;
                        font-weight: bold;
                        padding: 3px 6px;
                        border-radius: $default-br;
                        background-color: $base-0;
                        &.el-icon-1 {
                            color: $base-0;
                            background-color: $danger;
                        }
                        &.el-icon-2 {
                            color: $base-0;
                            background-color: $warning;
                        }
                    }
                }
            }
        }
    }
    &.deactivated {
        .el-tabs {
            display: none !important;
        }
        &:before {
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: "";
            z-index: 989;
            opacity: .9;
            position: absolute;
            background-color: $base-0;
        }
        &:after { 
            @extend .display-center;
            color: $danger;
            content: "این آگهی منقضی شده است.";
            display: block;
            z-index: 990;
            font-size: 24px;
            font-weight: 700;
            text-align: center;
            padding-top: 60px;
        }
    }
}

@media (max-width: 992px) {
    .section-product {
        &.section-product-1 {
            .product-details {
                .details {
                    h1 {
                        font-size: 18px;
                    }
                    ul {
                        li {
                            height: 90px;
                            line-height: 30px;
                            padding-top: 15px;
                            span {
                                width: 100%;
                                display: block;
                                float: inherit !important;
                                text-align: right !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*------------------------------------
    Section: Auth
------------------------------------*/

.section-auth {
    min-height: 100vh;
    &.section-auth-1 {
        .form-panel {
            width: 390px;
            max-width: 100% !important;
            overflow: hidden;
            position: relative;
            padding: 30px 30px 15px;
            margin: auto;
            box-shadow: $default-bs;
            border: 1px solid $gray;
            border-radius: $default-br;
            background-color: $base-0;
            h3 {
                font-size: 18px;
            }
            .logo {
                text-align: center;
                img {
                    margin: 0 auto 15px;
                }
            }
            .heading {
                text-align: center;
                margin-bottom: 45px;
                h2 {
                    font-size: 21px;
                    margin-bottom: 9px;
                }
                h3 {
                    font-size: 15px;
                    a {
                        color: $text-color;
                    }
                }
            }
        }
    }
}

@media (max-width: 992px) {

}

/*------------------------------------
    Section: Dashboard
------------------------------------*/

.section-dashboard {
    .el-avatar {
        top: 18px;
        right: 0;
        width: 102px;
        height: 102px;
        position: relative;
        border-radius: 50%;
        background-color: $gray;
        .avatar-upload {
            width: 100%;
            height: 100%;
            position: relative;
            .avatar-edit {
                top: -3px;
                right: -3px;
                z-index: 1;
                position: absolute;
                input {
                    display: none;
                    + label {
                        width: 34px;
                        height: 34px;
                        cursor: pointer;
                        display: inline-block;
                        font-weight: normal;
                        margin-bottom: 0;
                        border-radius: 100%;
                        border: 1px solid #eee;
                        background: $base-0;
                        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                        transition: all 0.2s ease-in-out;
                        &:hover {
                            border-color: $primary;
                            &:after {
                                color: $base-1;
                            }
                        }
                        &:after {
                            top: 10px;
                            left: 0;
                            right: 0;
                            color: $text-color;
                            content: "\f040";
                            text-align: center;
                            font-family: "FontAwesome";
                            position: absolute;
                            margin: auto;
                        }
                    }
                }
            }
            .avatar-preview {
                width: 100%;
                height: 100%;
                position: relative;
                border-radius: 100%;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
                > div {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
        }
    }
}

.section-dashboard-management {
    
    .dashboard-tabs-buttons{
        top: 6px;
        left: 15px;
        position: absolute;
    }
}