/*------------------------------------
    Section: Features
------------------------------------*/

.section-features {
    &.section-features-1 {
        .item {
            height: 100%;
            .image {
                height: 100%;
                overflow: hidden;
                position: relative;
                border-radius: $default-br;
                background-color: $gray;
            }
        }
    }
}
