/*------------------------------------
    Section: Posts/Blog
------------------------------------*/

.section-blog-single-post {
    &.section-blog-single-post-1 {
        .single-post {
            .image {
                overflow: hidden;
                position: relative;
                padding-top: 51%;
                margin-bottom: 0;
                background-color: $gray;
                img {
                    top: 0;
                    left: 0; 
                    width: 100%;
                    height: 100%;
                    position: absolute;
                }
            }
            .details {
                h1 {
                    font-size: 24px;
                    line-height: 1.6;
                }
                h2 {
                    font-size: 21px;
                    line-height: 1.6;
                }
                h3 {
                    font-size: 18px;
                    line-height: 1.6;
                }
                h4 {
                    font-size: 16px;
                    line-height: 1.6;
                }
                h5 {
                    font-size: 14px;
                    line-height: 1.6;
                }
                h6 {
                    font-size: 12px;
                    line-height: 1.6;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .section-blog-single-post {
        &.section-blog-single-post-1 {
            .single-post {
                .details {
                    h1 {
                        font-size: 21px;
                        line-height: 1.6;
                    }
                }
            }
        }
    }
}